<header th:fragment="header" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h1>CompStore</h1>
            </div>
            <nav class="col-8">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li th:if="${role == 'ADMIN'}"><a href="/users">Пользователи</a></li>
                    <li th:if="${role != 'NOT'}"><a href="/orderings">Заказы</a></li>
                    <li th:if="${role != 'NOT'}">
                        <a>Каталог</a>
                        <ul>
                            <li><a href="/processors">Процессоры</a></li>
                            <li><a href="/motherboards">Материнские платы</a></li>
                            <li><a href="/powers">Блоки питания</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Аккаунт</a>
                        <ul>
                            <li th:if="${role == 'NOT'}"><a href="/login">Вход</a></li>
                            <li th:if="${role == 'NOT'}"><a href="/reg">Регистрация</a></li>
                            <li th:if="${role != 'NOT'}"><a href="/profile">Профиль</a></li>
                            <li th:if="${role != 'NOT'}"><a href="/logout">Выход</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>