<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Наши лучшие товары</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>

<header th:insert="blocks/header :: header"></header>


<div class="container">
    <h2 class="mb-3 mt-5 text-center">Стартапы</h2>
    <div class="row mb-2" th:each="i : ${components}">
        <div class="col-4 text-center" style="height: 300px">
            <img th:src="${'/img/' + i.photo}" class="rounded-5" style="max-width: 100%;max-height: 300px">
        </div>
        <div class="col">
            <p class="lead" th:text="${i.name}"></p>
            <div class="row">
                <div class="col-4" th:each="p : ${i.info}">
                    <span th:text="${p}"></span>
                </div>
            </div>
            <p th:text="${'Описание: ' + i.description}"></p>
        </div>
        <hr class="mt-2">
    </div>
</div>

</body>

</html>