<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Профиль</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>

<header th:insert="blocks/header :: header"></header>

<main class="container-fluid">
    <h2 class="mb-3 mt-5 text-center">Профиль</h2>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form action="/profile" method="post">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control mb-2" required th:value="${user.fio}" name="fio" placeholder="ФИО">
                    </div>
                    <div class="col-auto">
                        <button class="w-100 btn btn-warning" type="submit">Обновить</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</main>
</body>
</html>