<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Регистрация</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>

<header th:insert="blocks/header :: header"></header>

<main class="container-fluid">
    <h2 class="mb-3 mt-5 text-center">Регистрация</h2>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div th:if="${message}" class="alert alert-warning text-center" role="alert">
                <strong th:text="${message}"></strong>
            </div>
            <form action="/reg" method="post">
                <input type="text" class="form-control mb-2" name="fio" placeholder="ФИО" required>
                <input type="email" class="form-control mb-2" name="username" placeholder="Электронная почта" required>
                <input type="password" class="form-control mb-2" name="password" placeholder="Пароль" required>
                <button class="w-100 btn btn-warning" type="submit">Зарегистрироваться</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</main>

</body>
</html>