<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Добавить</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>

<header th:insert="blocks/header :: header"></header>

<main class="container-fluid">
    <h2 class="mb-3 mt-5 text-center">Добавить</h2>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div th:if="${message}" class="alert alert-warning text-center" role="alert">
                <strong th:text="${message}"></strong>
            </div>
            <form action="/startups/add" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-6 mb-2">
                        <input type="text" class="form-control mb-2" name="name" placeholder="Название" required>
                    </div>
                    <div class="col-6 mb-2">
                        <input type="file" class="form-control mb-2" name="file" accept="image/*" required>
                    </div>

                    <div class="col-6 mb-2">
                        <input type="text" class="form-control mb-2" name="targetAudience" placeholder="Целевая аудитория" required>
                    </div>
                    <div class="col-6 mb-2">
                        <input type="text" class="form-control mb-2" name="uniqueOffer" placeholder="Уникальное предложение" required>
                    </div>
                    <div class="col-6 mb-2">
                        <input type="text" class="form-control mb-2" name="businessModel" placeholder="Бизнес-модель" required>
                    </div>

                    <div class="col-12 mb-2">
                        <input type="text" class="form-control mb-2" name="description" placeholder="Описание" required>
                    </div>
                    <div class="col-6">
                        <button class="w-100 btn btn-warning" type="submit">Добавить</button>
                    </div>
                    <div class="col-6">
                        <button class="w-100 btn btn-secondary" type="reset">Сбросить</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</main>
</body>
</html>
